In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_excel('Dannye_po_Data_Motiv.xlsx')
df.head()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.1,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.9,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.9,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.6,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.3,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1

In [4]:
df.describe()

,SUBS_ID,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
count,8.929300e+04,89287.000000,89293.000000,89293.000000,89293.000000,88682.000000,89293.000000,89293.000000,89293.000000,89293.000000,88676.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.0
mean,1.156639e+06,315.999048,261.287274,0.601313,0.724939,0.457387,116.794934,12.423706,102.224822,101.101990,5397.981088,266.916533,270.868048,2226.388319,1041.367789,263.481866,1.312443,1.0
std,5.199966e+05,170.092115,785.094780,0.489631,0.446547,0.498184,117.619508,55.758458,117.047228,130.845306,46.153833,304.618611,378.710151,5826.364442,2204.524754,396.013275,1.442138,0.0
min,1.245000e+03,59.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.350280e+05,135.000000,66.600000,0.000000,0.000000,0.000000,42.000000,0.000000,30.000000,15.000000,5386.000000,62.000000,28.280000,0.000000,0.000000,0.000000,0.000000,1.0
50%,1.148620e+06,300.000000,250.000000,1.000000,1.000000,0.000000,93.000000,2.000000,74.000000,63.000000,5403.000000,176.000000,142.330000,0.050000,27.000000,200.000000,1.000000,1.0
75%,1.602853e+06,524.000000,350.000000,1.000000,1.000000,1.000000,159.000000,10.000000,141.000000,141.000000,5431.000000,368.000000,365.320000,2152.980000,1719.000000,350.000000,2.000000,1.0
max,2.069926e+06,610.000000,156138.850000,1.000000,1.000000,1.000000,5044.000000,5282.000000,7377.000000,6647.000000,5447.000000,10242.000000,8280.820000,449891.470000,167507.000000,30895.000000,39.000000,1.0

In [5]:
df.columns.shape

(19,)

In [6]:
df['SUBS_ID'].value_counts().value_counts()

3    29531
1      238
2      231
Name: SUBS_ID, dtype: int64

In [7]:
prep_df = df[['SUBS_ID', 'TARIFF_ID']]

In [8]:
prep_df.head()

   SUBS_ID  TARIFF_ID
0     1245      588.0
1     1245      588.0
2     1245      588.0
3     1261      524.0
4     1261      524.0

In [9]:
people_posts = prep_df['SUBS_ID'].value_counts()

In [11]:
people_posts.head()

1823842    3
426949     3
1584016    3
668563     3
816807     3
Name: SUBS_ID, dtype: int64

In [12]:
people_posts.values == 3

array([ True,  True,  True, ..., False, False, False])

In [13]:
indexs = np.where(people_posts.values == 3)[0]
indexs

array([    0,     1,     2, ..., 29528, 29529, 29530])

In [29]:
a = []
for i in range(0, prep.shape[0]-2):
    if prep_df['SUBS_ID'][i] == prep_df['SUBS_ID'][i + 1] == prep_df['SUBS_ID'][i + 2]:
        a.append(i)
a = np.array(a)
a.shape

(9770,)

In [35]:
prep = prep_df.loc[a]
prep.head()

    SUBS_ID  TARIFF_ID
0      1245      588.0
3      1261      524.0
6      1325      130.0
9      1334      560.0
12     1364      300.0

In [37]:
prep['SUBS_ID'].value_counts()

610302    1
357708    1
517462    1
556373    1
380243    1
         ..
578199    1
816411    1
772791    1
805524    1
759811    1
Name: SUBS_ID, Length: 9770, dtype: int64

In [73]:
b = []
for i in range(df['SUBS_ID'].values.shape[0]):
    if df['SUBS_ID'][i] in prep['SUBS_ID'].values:
        b.append(i)
b = np.array(b)
b.shape

(29310,)

In [78]:
three_df = df.iloc[b]['SUBS_ID']
three_df.value_counts()

650596    3
500401    3
635603    3
801490    3
303825    3
         ..
263658    3
810788    3
574596    3
17890     3
759811    3
Name: SUBS_ID, Length: 9770, dtype: int64