In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
!ls

 catboost_info		     extended_table.csv   README.md
 Dannye_Po_Data_Motiv.xlsx   main.py		  solution.csv
 Data_Motiv_2.xlsx	     Prepare.ipynb	 'Test dataset.ipynb'

In [5]:
df = pd.read_excel('Dannye_Po_Data_Motiv.xlsx')
df.head()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.1,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.9,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.9,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.6,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.3,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1

In [6]:
df.describe()

,SUBS_ID,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
count,8.929300e+04,89287.000000,89293.000000,89293.000000,89293.000000,88682.000000,89293.000000,89293.000000,89293.000000,89293.000000,88676.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.0
mean,1.156639e+06,315.999048,261.287274,0.601313,0.724939,0.457387,116.794934,12.423706,102.224822,101.101990,5397.981088,266.916533,270.868048,2226.388319,1041.367789,263.481866,1.312443,1.0
std,5.199966e+05,170.092115,785.094780,0.489631,0.446547,0.498184,117.619508,55.758458,117.047228,130.845306,46.153833,304.618611,378.710151,5826.364442,2204.524754,396.013275,1.442138,0.0
min,1.245000e+03,59.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.350280e+05,135.000000,66.600000,0.000000,0.000000,0.000000,42.000000,0.000000,30.000000,15.000000,5386.000000,62.000000,28.280000,0.000000,0.000000,0.000000,0.000000,1.0
50%,1.148620e+06,300.000000,250.000000,1.000000,1.000000,0.000000,93.000000,2.000000,74.000000,63.000000,5403.000000,176.000000,142.330000,0.050000,27.000000,200.000000,1.000000,1.0
75%,1.602853e+06,524.000000,350.000000,1.000000,1.000000,1.000000,159.000000,10.000000,141.000000,141.000000,5431.000000,368.000000,365.320000,2152.980000,1719.000000,350.000000,2.000000,1.0
max,2.069926e+06,610.000000,156138.850000,1.000000,1.000000,1.000000,5044.000000,5282.000000,7377.000000,6647.000000,5447.000000,10242.000000,8280.820000,449891.470000,167507.000000,30895.000000,39.000000,1.0

In [7]:
df.shape

(89293, 19)

In [8]:
df['SUBS_ID'].value_counts().value_counts()

3    29531
1      238
2      231
Name: SUBS_ID, dtype: int64

In [9]:
prep_df = df[['SUBS_ID', 'TARIFF_ID']]

In [10]:
prep_df.head()

   SUBS_ID  TARIFF_ID
0     1245      588.0
1     1245      588.0
2     1245      588.0
3     1261      524.0
4     1261      524.0

In [11]:
people_posts = prep_df['SUBS_ID'].value_counts()

In [12]:
people_posts.head()

1823842    3
426949     3
1584016    3
668563     3
816807     3
Name: SUBS_ID, dtype: int64

In [13]:
people_posts.values == 3

array([ True,  True,  True, ..., False, False, False])

In [14]:
indexs = np.where(people_posts.values == 3)[0]
indexs

array([    0,     1,     2, ..., 29528, 29529, 29530])

In [15]:
a = []
for i in range(0, df.shape[0]-2):
    if prep_df['SUBS_ID'][i] == prep_df['SUBS_ID'][i + 1] == prep_df['SUBS_ID'][i + 2]:
        a.append(i)
a = np.array(a)
a.shape

(29531,)

In [16]:
prep = prep_df.loc[a]
prep.head()

    SUBS_ID  TARIFF_ID
0      1245      588.0
3      1261      524.0
6      1325      130.0
9      1334      560.0
12     1364      300.0

In [17]:
prep['SUBS_ID'].value_counts()

745584     1
1954849    1
1892017    1
1296050    1
1046196    1
1107638    1
1300081    1
528748     1
374460     1
701624     1
1070784    1
695213     1
603852     1
601807     1
216303     1
1123134    1
670931     1
1422573    1
1443948    1
1347291    1
437983     1
1857248    1
1396451    1
1146597    1
2046035    1
1640170    1
724715     1
513712     1
1521324    1
993006     1
          ..
850986     1
1129458    1
1647601    1
1786575    1
1717203    1
445356     1
1495983    1
943033     1
291771     1
1067964    1
873407     1
1983495    1
426949     1
957382     1
627655     1
1702858    1
1051604    1
1087053    1
1993688    1
2028666    1
1331708    1
1592284    1
476125     1
678878     1
1418209    1
1730452    1
1240040    1
517097     1
1295341    1
1445890    1
Name: SUBS_ID, Length: 29531, dtype: int64

In [18]:
b = []
for i in range(df['SUBS_ID'].values.shape[0]):
    if df['SUBS_ID'][i] in prep['SUBS_ID'].values:
        b.append(i)
b = np.array(b)
b.shape

(88593,)

In [19]:
three_df = df.iloc[b]

In [20]:
three_df.shape

(88593, 19)

In [21]:
three_df = three_df.reset_index(drop = True)

In [22]:
three_df

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.10,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.90,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.90,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.60,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.30,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1
5,1261,2019-09-01,524.0,350.60,0,1,0.0,340,25,63,198,5274.0,76,299.50,2160.64,1752,470.0,3,1
6,1325,2019-07-01,130.0,142.19,0,1,0.0,250,0,137,156,5213.0,276,306.08,522.41,2098,120.0,2,1
7,1325,2019-08-01,130.0,112.39,0,1,0.0,275,3,169,111,5244.0,413,286.37,461.05,8192,130.0,2,1
8,1325,2019-09-01,130.0,149.59,0,1,0.0,318,1,156,149,5274.0,325,320.98,332.79,2468,4110.0,2,1
9,1334,2019-07-01,560.0,300.00,1,1,1.0,20,1,18,22,5213.0,28,56.97,5418.07,1796,300.0,1,1
10,1334,2019-08-01,560.0,300.00,1,1,1.0,15,0,10,15,5244.0,8,51.77,6782.87,1487,350.0,2,1
11,1334,2019-09-01,560.0,300.00,1,1,1.0,15,0,8,24,5274.0,6,65.35,7846.94,1539,300.0,1,1
12,1364,2019-07-01,300.0,129.60,0,0,0.0,70,4,175,52,5213.0,536,147.45,0.00,0,0.0,0,1
13,1364,2019-08-01,300.0,225.05,0,0,0.0,49,0,184,66,5244.0,522,89.78,0.00,0,100.0,1,1
14,1364,2019-09-01,300.0,185.36,0,0,0.0,62,1,220,78,5274.0,661,161.33,0.00,2,300.0,3,1
15,1414,2019-07-01,300.0,0.00,1,1,0.0,5,0,10,0,5213.0,32,0.00,0.00,0,0.0,0,1
16,1414,2019-08-01,300.0,0.00,1,1,0.0,13,0,18,0,5244.0,17,0.00,0.00,0,0.0,0,1
17,1414,2019-09-01,300.0,66.60,1,1,0.0,15,0,62,34,5274.0,50,48.15,0.00,0,100.0,2,1
18,1422,2019-07-01,300.0,12.00,0,0,0.0,10,0,31,4,5213.0,177,25.57,0.00,0,0.0,0,1
19,1422,2019-08-01,300.0,23.40,0,0,0.0,17,0,26,6,5244.0,208,63.48,0.00,0,0.0,0,1
20,1422,2019-09-01,300.0,19.80,0,0,0.0,5,0,24,7,5274.0,211,29.17,0.00,0,100.0,1,1
21,1439,2019-07-01,135.0,314.00,0,1,0.0,94,10,92,112,5213.0,567,567.28,109.41,167,300.0,1,1
22,1439,2019-08-01,135.0,357.50,0,1,0.0,65,4,61,99,5244.0,480,738.30,103.32,160,350.0,1,1
23,1439,2019-09-01,135.0,350.00,0,1,0.0,61,11,101,141,5274.0,599,763.17,191.94,281,350.0,1,1
24,1504,2019-07-01,300.0,158.85,1,1,0.0,79,2,230,78,5213.0,252,80.48,0.00,0,0.0,0,1
25,1504,2019-08-01,300.0,103.90,1,1,0.0,61,1,148,45,5244.0,150,61.87,0.00,0,0.0,0,1
26,1504,2019-09-01,300.0,152.00,1,1,0.0,64,7,137,65,5274.0,193,80.63,0.00,0,300.0,1,1
27,1631,2019-07-01,300.0,79.95,0,0,0.0,41,0,45,41,5213.0,84,53.57,0.00,0,0.0,0,1
28,1631,2019-08-01,300.0,214.65,0,0,0.0,38,0,54,75,5244.0,124,129.58,0.00,0,300.0,3,1
29,1631,2019-09-01,588.0,382.71,0,0,1.0,55,1,63,88,5274.0,72,148.18,277.38,393,251.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88563,2069114,2019-07-01,300.0,208.20,0,0,0.0,65,1,75,134,5297.0,84,137.05,0.00,0,200.0,2,1
88564,2069114,2019-08-01,300.0,293.40,0,0,0.0,65,1,89,169,5328.0,194,225.33,0.00,0,300.0,3,1
88565,2069114,2019-09-01,300.0,303.80,0,0,0.0,75,1,108,168,5358.0,173,215.72,0.00,0,300.0,3,1
88566,2069169,2019-07-01,300.0,181.50,0,0,0.0,25,0,174,105,5297.0,1353,568.37,0.00,0,100.0,1,1
88567,2069169,2019-08-01,300.0,194.40,0,0,0.0,19,0,82,109,5328.0,574,660.63,0.00,0,260.0,3,1
88568,2069169,2019-09-01,300.0,104.40,0,0,0.0,8,0,109,60,5358.0,383,296.30,0.00,0,100.0,1,1
88569,2069201,2019-07-01,548.0,302.00,0,0,1.0,142,2,34,32,5325.0,61,105.17,1301.06,1385,300.0,1,1
88570,2069201,2019-08-01,548.0,302.00,0,0,1.0,176,1,22,34,5356.0,85,39.57,1381.58,1229,300.0,1,1
88571,2069201,2019-09-01,548.0,302.00,0,0,1.0,164,1,26,70,5386.0,42,76.10,1165.60,904,300.0,1,1
88572,2069215,2019-07-01,134.0,310.00,1,1,1.0,120,0,47,121,5376.0,241,760.17,434.27,1235,300.0,2,1
88573,2069215,2019-08-01,134.0,310.00,1,1,1.0,203,2,37,107,5407.0,148,564.78,295.86,936,350.0,2,1
88574,2069215,2019-09-01,134.0,300.00,1,1,1.0,92,5,45,113,5437.0,101,610.68,462.41,953,150.0,1,1
88575,2069414,2019-07-01,548.0,306.00,0,0,0.0,151,8,181,221,5297.0,440,508.80,0.00,0,300.0,1,1
88576,2069414,2019-08-01,548.0,456.20,0,0,0.0,128,2,228,295,5328.0,530,737.85,0.00,0,500.0,2,1
88577,2069414,2019-09-01,548.0,300.00,0,0,0.0,69,0,119,157,5358.0,310,455.92,0.00,0,300.0,1,1
88578,2069541,2019-07-01,300.0,153.60,1,1,1.0,56,8,2,1,5340.0,1,0.73,0.09,130,0.0,0,1
88579,2069541,2019-08-01,300.0,113.74,1,1,1.0,53,2,2,1,5371.0,2,0.37,1.76,91,0.0,0,1
88580,2069541,2019-09-01,300.0,30.50,1,1,0.0,45,4,2,1,5401.0,2,0.20,0.00,0,0.0,0,1
88581,2069592,2019-07-01,121.0,26.50,1,1,0.0,129,6,59,1,5376.0,105,4.30,0.00,0,50.0,1,1
88582,2069592,2019-08-01,121.0,63.10,1,1,1.0,123,4,37,3,5407.0,81,1.57,63.21,52,100.0,1,1
88583,2069592,2019-09-01,121.0,40.80,1,1,0.0,222,14,26,0,5437.0,80,0.00,0.00,0,0.0,0,1
88584,2069686,2019-07-01,135.0,32.40,0,0,1.0,137,2,122,6,5340.0,374,12.45,0.00,2,0.0,0,1
88585,2069686,2019-08-01,135.0,350.00,0,0,1.0,157,6,134,26,5371.0,490,38.85,1288.61,507,470.0,1,1
88586,2069686,2019-09-01,135.0,470.20,0,0,1.0,196,3,83,66,5401.0,229,99.37,761.29,875,350.0,1,1
88587,2069822,2019-07-01,560.0,300.00,1,1,1.0,181,20,134,220,5297.0,318,442.75,8181.31,1822,350.0,1,1
88588,2069822,2019-08-01,560.0,306.00,1,1,1.0,258,0,66,120,5328.0,222,206.27,1908.23,633,300.0,1,1
88589,2069822,2019-09-01,560.0,300.00,1,1,1.0,112,5,72,137,5358.0,182,254.90,1293.55,1145,300.0,1,1
88590,2069892,2019-07-01,121.0,100.20,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1
88591,2069892,2019-08-01,121.0,135.00,1,1,0.0,128,3,30,12,5328.0,175,13.92,0.00,0,200.0,2,1
88592,2069892,2019-09-01,121.0,181.60,1,1,0.0,89,5,41,17,5358.0,216,40.10,0.00,0,150.0,1,1

In [25]:
subs_ids = np.unique(three_df['SUBS_ID'])
tariff_changed = []
for idx in subs_ids:
    if np.unique(three_df[three_df['SUBS_ID'] == idx]['TARIFF_ID']).shape[0] - 1 > 0:
        for i in range(3):
            tariff_changed.append(1)
    else:
        for i in range(3):
            tariff_changed.append(0)
tariff_changed = pd.Series(tariff_changed)

In [26]:
tariff_changed.value_counts()

0    85500
1     3093
dtype: int64

In [27]:
three_df['tariff_changed'] = tariff_changed

In [28]:
three_df.tail()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changed
88588,2069822,2019-08-01,560.0,306.0,1,1,1.0,258,0,66,120,5328.0,222,206.27,1908.23,633,300.0,1,1,0
88589,2069822,2019-09-01,560.0,300.0,1,1,1.0,112,5,72,137,5358.0,182,254.90,1293.55,1145,300.0,1,1,0
88590,2069892,2019-07-01,121.0,100.2,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1,0
88591,2069892,2019-08-01,121.0,135.0,1,1,0.0,128,3,30,12,5328.0,175,13.92,0.00,0,200.0,2,1,0
88592,2069892,2019-09-01,121.0,181.6,1,1,0.0,89,5,41,17,5358.0,216,40.10,0.00,0,150.0,1,1,0

In [29]:
three_df['tariff_changed'].value_counts()

0    85500
1     3093
Name: tariff_changed, dtype: int64

In [45]:
tariff_not_changed = three_df[three_df['tariff_changed'] == 0].head(3093)

In [46]:
tariff_not_changed.shape

(3093, 20)

In [47]:
tariff_not_changed

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changed
0,1245,2019-07-01,588.0,206.10,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.00,2,1,0
1,1245,2019-08-01,588.0,378.90,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.00,3,1,0
2,1245,2019-09-01,588.0,328.90,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.00,0,1,0
3,1261,2019-07-01,524.0,318.60,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.00,4,1,0
4,1261,2019-08-01,524.0,262.30,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.00,1,1,0
5,1261,2019-09-01,524.0,350.60,0,1,0.0,340,25,63,198,5274.0,76,299.50,2160.64,1752,470.00,3,1,0
6,1325,2019-07-01,130.0,142.19,0,1,0.0,250,0,137,156,5213.0,276,306.08,522.41,2098,120.00,2,1,0
7,1325,2019-08-01,130.0,112.39,0,1,0.0,275,3,169,111,5244.0,413,286.37,461.05,8192,130.00,2,1,0
8,1325,2019-09-01,130.0,149.59,0,1,0.0,318,1,156,149,5274.0,325,320.98,332.79,2468,4110.00,2,1,0
9,1334,2019-07-01,560.0,300.00,1,1,1.0,20,1,18,22,5213.0,28,56.97,5418.07,1796,300.00,1,1,0
10,1334,2019-08-01,560.0,300.00,1,1,1.0,15,0,10,15,5244.0,8,51.77,6782.87,1487,350.00,2,1,0
11,1334,2019-09-01,560.0,300.00,1,1,1.0,15,0,8,24,5274.0,6,65.35,7846.94,1539,300.00,1,1,0
12,1364,2019-07-01,300.0,129.60,0,0,0.0,70,4,175,52,5213.0,536,147.45,0.00,0,0.00,0,1,0
13,1364,2019-08-01,300.0,225.05,0,0,0.0,49,0,184,66,5244.0,522,89.78,0.00,0,100.00,1,1,0
14,1364,2019-09-01,300.0,185.36,0,0,0.0,62,1,220,78,5274.0,661,161.33,0.00,2,300.00,3,1,0
15,1414,2019-07-01,300.0,0.00,1,1,0.0,5,0,10,0,5213.0,32,0.00,0.00,0,0.00,0,1,0
16,1414,2019-08-01,300.0,0.00,1,1,0.0,13,0,18,0,5244.0,17,0.00,0.00,0,0.00,0,1,0
17,1414,2019-09-01,300.0,66.60,1,1,0.0,15,0,62,34,5274.0,50,48.15,0.00,0,100.00,2,1,0
18,1422,2019-07-01,300.0,12.00,0,0,0.0,10,0,31,4,5213.0,177,25.57,0.00,0,0.00,0,1,0
19,1422,2019-08-01,300.0,23.40,0,0,0.0,17,0,26,6,5244.0,208,63.48,0.00,0,0.00,0,1,0
20,1422,2019-09-01,300.0,19.80,0,0,0.0,5,0,24,7,5274.0,211,29.17,0.00,0,100.00,1,1,0
21,1439,2019-07-01,135.0,314.00,0,1,0.0,94,10,92,112,5213.0,567,567.28,109.41,167,300.00,1,1,0
22,1439,2019-08-01,135.0,357.50,0,1,0.0,65,4,61,99,5244.0,480,738.30,103.32,160,350.00,1,1,0
23,1439,2019-09-01,135.0,350.00,0,1,0.0,61,11,101,141,5274.0,599,763.17,191.94,281,350.00,1,1,0
24,1504,2019-07-01,300.0,158.85,1,1,0.0,79,2,230,78,5213.0,252,80.48,0.00,0,0.00,0,1,0
25,1504,2019-08-01,300.0,103.90,1,1,0.0,61,1,148,45,5244.0,150,61.87,0.00,0,0.00,0,1,0
26,1504,2019-09-01,300.0,152.00,1,1,0.0,64,7,137,65,5274.0,193,80.63,0.00,0,300.00,1,1,0
30,1651,2019-07-01,130.0,203.18,1,1,1.0,103,12,96,72,5213.0,313,313.42,18237.81,5645,24.00,1,1,0
31,1651,2019-08-01,130.0,218.68,1,1,1.0,135,1,83,114,5244.0,221,505.08,14711.12,5472,350.00,2,1,0
32,1651,2019-09-01,130.0,143.59,1,1,1.0,124,14,95,110,5274.0,234,440.38,22219.00,5380,130.00,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3168,307138,2019-07-01,300.0,47.40,0,1,0.0,65,1,48,16,5386.0,70,24.12,0.00,0,0.00,0,1,0
3169,307138,2019-08-01,300.0,57.60,0,1,0.0,73,3,58,14,5417.0,119,20.97,0.00,0,100.00,1,1,0
3170,307138,2019-09-01,300.0,34.20,0,1,0.0,51,1,62,10,5447.0,96,14.30,0.00,0,0.00,0,1,0
3171,307564,2019-07-01,260.0,307.78,0,1,0.0,8,0,4,4,5386.0,35,54.98,0.00,0,500.00,1,1,0
3172,307564,2019-08-01,260.0,229.78,0,1,0.0,0,0,4,5,5417.0,26,41.80,0.00,0,0.00,0,1,0
3173,307564,2019-09-01,260.0,403.80,0,1,0.0,4,0,5,5,5447.0,52,76.07,0.00,0,500.00,1,1,0
3174,307591,2019-07-01,588.0,402.00,1,1,1.0,128,10,224,142,5386.0,1341,525.30,10531.29,5192,600.00,2,1,0
3175,307591,2019-08-01,588.0,362.00,1,1,1.0,167,8,235,125,5417.0,1148,360.18,12013.16,4902,300.00,1,1,0
3176,307591,2019-09-01,588.0,260.00,1,1,1.0,253,9,244,175,5447.0,1178,468.68,8582.47,5480,400.00,1,1,0
3177,307629,2019-07-01,135.0,510.59,1,1,1.0,205,40,208,173,5386.0,381,214.65,1700.93,2200,572.50,5,1,0
3178,307629,2019-08-01,135.0,1112.49,1,1,1.0,278,14,166,139,5417.0,315,247.68,439.80,945,1391.65,11,1,0
3179,307629,2019-09-01,135.0,588.26,1,1,1.0,154,25,258,330,5447.0,466,501.68,899.34,1572,360.00,1,1,0
3180,307675,2019-07-01,135.0,444.30,1,1,1.0,134,6,108,136,5386.0,273,364.35,1631.77,2418,0.00,0,1,0
3181,307675,2019-08-01,135.0,655.00,1,1,1.0,130,1,238,260,5417.0,664,1095.68,3913.82,3600,640.00,2,1,0
3182,307675,2019-09-01,135.0,420.00,0,0,1.0,131,2,116,140,5447.0,253,513.58,3251.10,3284,850.00,2,1,0
3183,307710,2019-07-01,186.0,340.50,0,0,0.0,329,237,168,150,5386.0,271,173.62,14.12,6,300.00,1,1,0
3184,307710,2019-08-01,186.0,620.00,0,0,0.0,256,93,142,73,5417.0,374,86.18,0.00,0,300.00,1,1,0
3185,307710,2019-09-01,186.0,334.20,0,0,0.0,195,102,143,77,5447.0,336,68.22,0.00,0,400.00,2,1,0
3186,307744,2019-07-01,135.0,649.99,1,1,1.0,78,13,148,51,5386.0,212,72.93,1493.27,2630,650.00,3,1,0
3187,307744,2019-08-01,135.0,350.00,1,1,1.0,66,8,142,47,5417.0,166,42.90,3500.27,2650,300.00,1,1,0
3188,307744,2019-09-01,135.0,350.00,1,1,1.0,50,7,136,50,5447.0,200,56.98,3872.44,2426,300.00,1,1,0
3189,307761,2019-07-01,306.0,50.67,0,0,0.0,7,0,31,35,5386.0,156,133.37,0.00,0,100.00,1,1,0
3190,307761,2019-08-01,306.0,77.13,0,0,0.0,1,0,45,25,5417.0,183,137.85,0.00,0,100.00,1,1,0
3191,307761,2019-09-01,306.0,65.03,0,0,0.0,3,0,41,23,5447.0,197,159.43,0.00,0,0.00,0,1,0
3192,308382,2019-07-01,196.0,193.62,0,0,0.0,25,0,33,44,5386.0,22,22.25,0.01,24,600.00,6,1,0
3193,308382,2019-08-01,196.0,313.99,0,0,0.0,17,0,81,79,5417.0,47,44.00,0.01,26,0.00,0,1,0
3194,308382,2019-09-01,196.0,542.32,0,0,0.0,21,1,78,109,5447.0,49,64.55,0.01,25,400.00,4,1,0
3195,314485,2019-07-01,260.0,66.63,0,1,0.0,13,0,61,37,5386.0,95,56.67,0.00,0,0.00,0,1,0
3196,314485,2019-08-01,260.0,99.79,0,1,0.0,10,0,63,41,5417.0,144,57.03,0.00,3,0.00,0,1,0
3197,314485,2019-09-01,260.0,108.46,0,1,0.0,7,0,54,39,5447.0,156,91.70,0.00,0,100.00,1,1,0

In [48]:
tariff_changed = three_df[three_df['tariff_changed'] == 1]

In [49]:
tariff_changed.shape

(3093, 20)

In [50]:
tariff_changed

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changed
27,1631,2019-07-01,300.0,79.95,0,0,0.0,41,0,45,41,5213.0,84,53.57,0.00,0,0.0,0,1,1
28,1631,2019-08-01,300.0,214.65,0,0,0.0,38,0,54,75,5244.0,124,129.58,0.00,0,300.0,3,1,1
29,1631,2019-09-01,588.0,382.71,0,0,1.0,55,1,63,88,5274.0,72,148.18,277.38,393,251.0,1,1,1
60,2316,2019-07-01,524.0,249.00,0,0,1.0,131,8,9,17,5213.0,16,28.92,217.42,524,480.0,3,1,1
61,2316,2019-08-01,610.0,392.90,0,0,1.0,165,18,27,3,5244.0,146,6.97,117.68,444,240.0,1,1,1
62,2316,2019-09-01,610.0,281.90,0,0,1.0,120,24,16,7,5274.0,65,4.92,874.15,438,250.0,2,1,1
189,6033,2019-07-01,590.0,350.00,1,1,1.0,22,0,1,0,5219.0,2,0.00,17514.31,2407,224.0,1,1,1
190,6033,2019-08-01,610.0,250.00,1,1,1.0,26,0,1,1,5250.0,0,21.45,21302.71,2277,200.0,1,1,1
191,6033,2019-09-01,610.0,251.80,0,0,1.0,38,1,0,1,5280.0,0,0.32,24698.55,3681,400.0,2,1,1
237,11758,2019-07-01,130.0,232.69,0,0,0.0,159,5,226,192,5213.0,1294,1204.67,0.00,0,200.0,2,1,1
238,11758,2019-08-01,130.0,282.14,0,0,0.0,169,8,147,223,5244.0,855,1003.47,0.00,0,200.0,2,1,1
239,11758,2019-09-01,588.0,381.50,1,1,1.0,218,26,269,299,5274.0,1618,1601.72,1041.08,2394,550.0,3,1,1
270,12479,2019-07-01,300.0,311.37,1,1,1.0,85,1,115,89,5213.0,139,140.63,329.85,838,300.0,3,1,1
271,12479,2019-08-01,588.0,635.51,1,1,1.0,117,2,165,127,5244.0,198,163.32,645.72,1823,831.0,5,1,1
272,12479,2019-09-01,588.0,320.00,1,1,1.0,96,1,164,161,5274.0,411,291.70,517.43,1860,250.0,1,1,1
315,13940,2019-07-01,524.0,201.15,1,1,1.0,254,76,191,210,5213.0,507,438.02,1120.28,3003,165.0,1,1,1
316,13940,2019-08-01,524.0,279.85,1,1,1.0,205,38,174,228,5244.0,427,673.97,2037.78,3394,120.0,1,1,1
317,13940,2019-09-01,555.0,471.40,1,1,1.0,195,40,190,183,5274.0,389,649.17,3140.48,4292,205.0,1,1,1
531,17753,2019-07-01,136.0,640.99,1,1,1.0,118,9,76,91,5213.0,189,284.57,22114.81,2647,630.0,1,1,1
532,17753,2019-08-01,610.0,373.60,1,1,1.0,181,11,172,207,5244.0,624,750.83,45774.93,4264,395.0,3,1,1
533,17753,2019-09-01,610.0,319.00,1,1,1.0,199,13,141,154,5274.0,718,654.98,43024.66,4904,322.0,1,1,1
762,22459,2019-07-01,136.0,601.99,1,1,1.0,840,149,387,591,5213.0,679,1450.72,16955.13,2259,0.0,0,1,1
763,22459,2019-08-01,136.0,1369.20,1,1,1.0,1168,129,363,330,5244.0,456,550.10,3026.28,464,1370.0,9,1,1
764,22459,2019-09-01,588.0,250.00,1,1,1.0,804,95,524,416,5274.0,717,636.88,15490.37,1525,250.0,1,1,1
771,22604,2019-07-01,300.0,152.70,0,1,0.0,32,0,75,89,5213.0,248,535.47,0.00,0,200.0,2,1,1
772,22604,2019-08-01,588.0,488.96,0,1,0.0,77,0,89,104,5244.0,273,420.08,6.90,80,500.0,3,1,1
773,22604,2019-09-01,588.0,254.00,0,1,0.0,116,0,143,124,5274.0,463,486.05,393.00,1833,250.0,1,1,1
774,22614,2019-07-01,300.0,120.20,1,1,0.0,61,4,52,57,5213.0,234,203.42,0.00,0,100.0,1,1,1
775,22614,2019-08-01,300.0,202.10,1,1,0.0,90,5,57,95,5244.0,373,432.47,0.00,0,200.0,2,1,1
776,22614,2019-09-01,555.0,271.00,1,1,1.0,63,5,73,98,5274.0,557,382.52,1357.56,1009,200.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87600,2049515,2019-07-01,135.0,299.99,1,1,1.0,159,2,70,164,5297.0,339,1015.42,1490.28,1637,310.0,1,1,1
87601,2049515,2019-08-01,588.0,278.60,1,1,1.0,130,5,65,147,5328.0,176,519.82,2047.05,1743,360.0,2,1,1
87602,2049515,2019-09-01,588.0,281.00,1,1,1.0,112,6,62,115,5358.0,133,514.57,964.67,1480,250.0,1,1,1
87675,2050890,2019-07-01,300.0,168.00,1,1,0.0,117,1,69,17,5297.0,147,40.82,0.00,0,150.0,1,1,1
87676,2050890,2019-08-01,590.0,597.50,1,1,1.0,169,4,93,70,5328.0,374,130.08,4748.63,1199,700.0,2,1,1
87677,2050890,2019-09-01,590.0,785.50,1,1,1.0,222,15,162,196,5358.0,338,567.03,16773.56,3972,650.0,2,1,1
87879,2054822,2019-07-01,548.0,300.00,1,1,1.0,132,0,150,106,5326.0,254,259.80,278.12,1074,300.0,1,1,1
87880,2054822,2019-08-01,588.0,271.70,1,1,1.0,157,3,131,96,5357.0,524,302.53,565.79,728,250.0,1,1,1
87881,2054822,2019-09-01,588.0,250.00,1,1,1.0,149,0,134,128,5387.0,299,462.80,2502.39,887,250.0,1,1,1
87918,2055904,2019-07-01,548.0,355.00,1,1,1.0,198,8,111,124,5376.0,351,301.02,1951.24,1651,350.0,2,1,1
87919,2055904,2019-08-01,548.0,300.00,1,1,1.0,133,2,53,79,5407.0,153,146.60,853.35,2369,300.0,1,1,1
87920,2055904,2019-09-01,588.0,250.00,1,1,1.0,121,6,47,59,5437.0,143,133.52,104.90,413,300.0,1,1,1
87948,2056808,2019-07-01,135.0,307.80,1,1,1.0,87,23,99,30,5291.0,255,108.67,3925.11,1755,300.0,1,1,1
87949,2056808,2019-08-01,135.0,1131.40,1,1,1.0,211,61,144,31,5322.0,810,186.82,22767.04,1598,1190.0,5,1,1
87950,2056808,2019-09-01,588.0,718.00,1,1,1.0,113,10,88,22,5352.0,384,114.75,1471.29,1019,530.0,2,1,1
88020,2057816,2019-07-01,135.0,1112.37,1,1,1.0,179,31,39,73,5297.0,229,151.90,3419.78,1509,1100.0,7,1,1
88021,2057816,2019-08-01,610.0,972.42,1,1,1.0,308,27,74,112,5328.0,245,307.37,12014.82,2151,1000.0,8,1,1
88022,2057816,2019-09-01,610.0,437.52,1,1,1.0,61,7,29,36,5358.0,132,72.03,6327.48,1837,500.0,4,1,1
88260,2063642,2019-07-01,186.0,308.00,0,1,0.0,306,77,110,86,5325.0,464,286.93,0.00,0,300.0,3,1,1
88261,2063642,2019-08-01,186.0,328.20,0,1,0.0,513,117,93,82,5356.0,201,189.75,0.00,0,300.0,3,1,1
88262,2063642,2019-09-01,610.0,226.20,0,1,0.0,394,100,77,111,5386.0,263,255.15,0.00,0,300.0,3,1,1
88281,2064200,2019-07-01,260.0,147.63,0,1,0.0,187,21,85,39,5297.0,564,410.58,0.00,0,100.0,1,1,1
88282,2064200,2019-08-01,306.0,364.29,0,1,0.0,191,8,101,70,5328.0,763,543.50,0.00,0,400.0,4,1,1
88283,2064200,2019-09-01,306.0,214.74,0,1,0.0,155,13,98,36,5358.0,518,175.85,0.00,0,200.0,2,1,1
88407,2066488,2019-07-01,135.0,303.40,1,1,1.0,251,64,195,228,5376.0,458,511.63,369.61,3574,400.0,1,1,1
88408,2066488,2019-08-01,590.0,5878.50,1,1,1.0,605,196,95,97,5407.0,220,223.08,844.39,2279,5950.0,10,1,1
88409,2066488,2019-09-01,610.0,335.35,0,0,1.0,359,60,122,141,5437.0,287,334.67,2968.82,3354,0.0,0,1,1
88440,2067076,2019-07-01,135.0,299.99,1,1,1.0,242,48,124,183,5291.0,232,378.20,1276.67,1285,300.0,1,1,1
88441,2067076,2019-08-01,588.0,783.80,1,1,1.0,289,60,96,139,5322.0,147,275.70,97.98,51,780.0,3,1,1
88442,2067076,2019-09-01,588.0,250.00,1,1,1.0,265,53,130,160,5352.0,298,365.17,2824.34,1014,250.0,1,1,1

In [51]:
balanced_df = pd.concat([tariff_not_changed, tariff_changed])

In [52]:
balanced_df.shape

(6186, 20)

In [53]:
balanced_df['tariff_changed'].value_counts()

1    3093
0    3093
Name: tariff_changed, dtype: int64

In [54]:
balanced_df.head()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changed
0,1245,2019-07-01,588.0,206.1,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1,0
1,1245,2019-08-01,588.0,378.9,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1,0
2,1245,2019-09-01,588.0,328.9,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1,0
3,1261,2019-07-01,524.0,318.6,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1,0
4,1261,2019-08-01,524.0,262.3,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1,0

In [55]:
balanced_df.tail()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changed
88408,2066488,2019-08-01,590.0,5878.50,1,1,1.0,605,196,95,97,5407.0,220,223.08,844.39,2279,5950.0,10,1,1
88409,2066488,2019-09-01,610.0,335.35,0,0,1.0,359,60,122,141,5437.0,287,334.67,2968.82,3354,0.0,0,1,1
88440,2067076,2019-07-01,135.0,299.99,1,1,1.0,242,48,124,183,5291.0,232,378.20,1276.67,1285,300.0,1,1,1
88441,2067076,2019-08-01,588.0,783.80,1,1,1.0,289,60,96,139,5322.0,147,275.70,97.98,51,780.0,3,1,1
88442,2067076,2019-09-01,588.0,250.00,1,1,1.0,265,53,130,160,5352.0,298,365.17,2824.34,1014,250.0,1,1,1

In [56]:
balanced_df.to_csv('balanced_df.csv')