In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_excel('Dannye_po_Data_Motiv.xlsx')
df.head()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.1,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.9,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.9,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.6,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.3,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1

In [3]:
df.describe()

,SUBS_ID,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
count,8.929300e+04,89287.000000,89293.000000,89293.000000,89293.000000,88682.000000,89293.000000,89293.000000,89293.000000,89293.000000,88676.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.0
mean,1.156639e+06,315.999048,261.287274,0.601313,0.724939,0.457387,116.794934,12.423706,102.224822,101.101990,5397.981088,266.916533,270.868048,2226.388319,1041.367789,263.481866,1.312443,1.0
std,5.199966e+05,170.092115,785.094780,0.489631,0.446547,0.498184,117.619508,55.758458,117.047228,130.845306,46.153833,304.618611,378.710151,5826.364442,2204.524754,396.013275,1.442138,0.0
min,1.245000e+03,59.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.350280e+05,135.000000,66.600000,0.000000,0.000000,0.000000,42.000000,0.000000,30.000000,15.000000,5386.000000,62.000000,28.280000,0.000000,0.000000,0.000000,0.000000,1.0
50%,1.148620e+06,300.000000,250.000000,1.000000,1.000000,0.000000,93.000000,2.000000,74.000000,63.000000,5403.000000,176.000000,142.330000,0.050000,27.000000,200.000000,1.000000,1.0
75%,1.602853e+06,524.000000,350.000000,1.000000,1.000000,1.000000,159.000000,10.000000,141.000000,141.000000,5431.000000,368.000000,365.320000,2152.980000,1719.000000,350.000000,2.000000,1.0
max,2.069926e+06,610.000000,156138.850000,1.000000,1.000000,1.000000,5044.000000,5282.000000,7377.000000,6647.000000,5447.000000,10242.000000,8280.820000,449891.470000,167507.000000,30895.000000,39.000000,1.0

In [4]:
# Как не надо делатб
#
#
#
#prep_df = df[['SUBS_ID', 'TARIFF_ID']]
#prep_df.head()
#people_posts = df['SUBS_ID'].value_counts()
#people_posts.head()
#people_posts.values == 3
#indexs = np.where(people_posts.values == 3)[0]
#indexs

In [5]:
a = []
for i in range(0, df.shape[0]-2):
    if df['SUBS_ID'][i] == df['SUBS_ID'][i + 1] == df['SUBS_ID'][i + 2]:
        a.append(i)
a = np.array(a)
a.shape

(29531,)

In [46]:
prep = df.loc[a]
prep

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.10,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
3,1261,2019-07-01,524.0,318.60,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
6,1325,2019-07-01,130.0,142.19,0,1,0.0,250,0,137,156,5213.0,276,306.08,522.41,2098,120.0,2,1
9,1334,2019-07-01,560.0,300.00,1,1,1.0,20,1,18,22,5213.0,28,56.97,5418.07,1796,300.0,1,1
12,1364,2019-07-01,300.0,129.60,0,0,0.0,70,4,175,52,5213.0,536,147.45,0.00,0,0.0,0,1
15,1414,2019-07-01,300.0,0.00,1,1,0.0,5,0,10,0,5213.0,32,0.00,0.00,0,0.0,0,1
18,1422,2019-07-01,300.0,12.00,0,0,0.0,10,0,31,4,5213.0,177,25.57,0.00,0,0.0,0,1
21,1439,2019-07-01,135.0,314.00,0,1,0.0,94,10,92,112,5213.0,567,567.28,109.41,167,300.0,1,1
25,1504,2019-07-01,300.0,158.85,1,1,0.0,79,2,230,78,5213.0,252,80.48,0.00,0,0.0,0,1
28,1631,2019-07-01,300.0,79.95,0,0,0.0,41,0,45,41,5213.0,84,53.57,0.00,0,0.0,0,1
31,1651,2019-07-01,130.0,203.18,1,1,1.0,103,12,96,72,5213.0,313,313.42,18237.81,5645,24.0,1,1
34,1722,2019-07-01,130.0,108.19,1,1,0.0,194,4,111,85,5213.0,510,518.70,0.00,0,170.0,2,1
37,1832,2019-07-01,548.0,360.00,1,1,1.0,120,6,88,105,5213.0,203,171.93,16214.93,1873,600.0,3,1
40,1841,2019-07-01,121.0,137.40,0,0,0.0,47,0,82,115,5213.0,113,90.58,0.00,0,0.0,0,1
43,1965,2019-07-01,300.0,969.65,1,1,0.0,83,2,174,298,5213.0,430,455.27,0.00,0,1000.0,5,1
46,2008,2019-07-01,300.0,68.29,1,1,1.0,6,0,0,0,5213.0,0,0.00,4.46,10,0.0,0,1
49,2070,2019-07-01,300.0,32.38,1,1,1.0,17,1,58,16,5213.0,166,15.43,0.15,284,100.0,1,1
52,2110,2019-07-01,135.0,372.49,1,1,1.0,47,0,32,58,5213.0,69,90.12,169.98,1717,750.1,1,1
55,2160,2019-07-01,300.0,15.60,0,0,0.0,13,0,32,10,5213.0,142,73.88,0.00,0,0.0,0,1
58,2185,2019-07-01,300.0,14.60,0,0,0.0,4,0,7,7,5213.0,48,42.63,0.00,1,0.0,0,1
61,2316,2019-07-01,524.0,249.00,0,0,1.0,131,8,9,17,5213.0,16,28.92,217.42,524,480.0,3,1
64,2325,2019-07-01,300.0,262.50,1,1,0.0,130,0,30,279,5213.0,114,492.48,0.00,0,150.0,1,1
67,2358,2019-07-01,135.0,329.50,1,1,1.0,173,20,65,133,5213.0,191,361.58,1020.07,2247,350.0,1,1
70,2399,2019-07-01,260.0,136.26,0,0,0.0,95,0,60,37,5213.0,105,64.58,0.00,0,100.0,1,1
73,2437,2019-07-01,523.0,213.90,0,0,0.0,62,0,76,112,5213.0,130,173.45,0.00,0,196.0,3,1
76,2557,2019-07-01,300.0,285.90,1,1,0.0,104,2,198,159,5213.0,822,776.15,0.00,0,300.0,1,1
79,2574,2019-07-01,135.0,494.50,0,0,0.0,149,26,270,394,5213.0,335,868.95,0.00,1,800.0,3,1
82,2608,2019-07-01,300.0,1.50,0,1,0.0,13,0,0,2,5213.0,0,0.65,0.00,0,0.0,0,1
85,2841,2019-07-01,260.0,417.23,0,0,0.0,60,0,50,45,5213.0,309,336.77,0.00,0,500.0,2,1
88,2882,2019-07-01,130.0,228.79,0,1,0.0,112,0,95,125,5213.0,776,960.12,0.00,0,250.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89202,2068106,2019-07-01,135.0,472.67,1,1,1.0,135,10,154,223,5291.0,220,400.73,3932.23,2871,540.0,2,1
89205,2068178,2019-07-01,135.0,300.00,1,1,1.0,115,4,65,99,5376.0,318,608.65,2218.05,70115,300.0,1,1
89208,2068215,2019-07-01,135.0,337.26,1,1,1.0,178,2,66,54,5340.0,103,104.28,1453.61,1209,331.0,2,1
89211,2068258,2019-07-01,135.0,1.80,0,0,0.0,7,0,4,1,5297.0,4,0.08,0.00,0,0.0,0,1
89214,2068284,2019-07-01,121.0,0.80,0,1,0.0,37,0,37,2,5376.0,63,0.60,0.00,0,0.0,0,1
89217,2068304,2019-07-01,588.0,261.00,1,1,1.0,169,12,71,59,5297.0,168,66.08,0.12,159,400.0,3,1
89220,2068319,2019-07-01,121.0,107.70,1,1,0.0,43,3,53,8,5340.0,67,22.93,0.00,0,150.0,1,1
89223,2068355,2019-07-01,560.0,477.60,1,1,1.0,174,26,135,76,5297.0,377,203.38,70.94,291,600.0,2,1
89226,2068357,2019-07-01,548.0,304.90,1,1,1.0,62,1,71,118,5376.0,118,182.28,4194.55,2356,310.0,2,1
89229,2068434,2019-07-01,610.0,283.60,1,1,1.0,55,4,27,54,5297.0,85,239.98,4147.34,2082,550.0,2,1
89232,2068458,2019-07-01,260.0,230.37,0,1,0.0,28,2,90,64,5297.0,706,96.57,0.00,0,0.0,0,1
89235,2068619,2019-07-01,121.0,99.80,1,1,0.0,68,3,44,30,5325.0,100,38.92,0.00,0,100.0,1,1
89238,2068639,2019-07-01,548.0,300.00,1,1,1.0,61,6,75,111,5291.0,155,152.00,3010.82,2064,300.0,1,1
89241,2068703,2019-07-01,300.0,231.00,1,1,0.0,83,22,189,99,5297.0,545,146.53,0.00,0,300.0,1,1
89244,2068774,2019-07-01,548.0,300.00,1,1,1.0,27,0,17,23,5291.0,39,153.78,1999.96,689,300.0,1,1
89247,2068884,2019-07-01,135.0,785.30,1,1,1.0,279,94,932,853,5340.0,1273,1139.57,1006.08,5465,700.0,4,1
89250,2069035,2019-07-01,260.0,26.65,1,1,0.0,135,6,63,8,5297.0,112,12.60,0.00,0,100.0,1,1
89253,2069044,2019-07-01,548.0,300.00,1,1,0.0,55,0,28,90,5325.0,77,107.32,1834.93,4675,300.0,1,1
89256,2069070,2019-07-01,135.0,300.00,1,1,1.0,118,6,60,38,5297.0,225,80.02,3384.69,2118,300.0,1,1
89259,2069112,2019-07-01,300.0,214.96,0,0,1.0,110,18,49,32,5291.0,178,121.37,12.17,119,310.0,4,1
89262,2069114,2019-07-01,300.0,208.20,0,0,0.0,65,1,75,134,5297.0,84,137.05,0.00,0,200.0,2,1
89265,2069169,2019-07-01,300.0,181.50,0,0,0.0,25,0,174,105,5297.0,1353,568.37,0.00,0,100.0,1,1
89268,2069201,2019-07-01,548.0,302.00,0,0,1.0,142,2,34,32,5325.0,61,105.17,1301.06,1385,300.0,1,1
89271,2069215,2019-07-01,134.0,310.00,1,1,1.0,120,0,47,121,5376.0,241,760.17,434.27,1235,300.0,2,1
89274,2069414,2019-07-01,548.0,306.00,0,0,0.0,151,8,181,221,5297.0,440,508.80,0.00,0,300.0,1,1
89277,2069541,2019-07-01,300.0,153.60,1,1,1.0,56,8,2,1,5340.0,1,0.73,0.09,130,0.0,0,1
89280,2069592,2019-07-01,121.0,26.50,1,1,0.0,129,6,59,1,5376.0,105,4.30,0.00,0,50.0,1,1
89283,2069686,2019-07-01,135.0,32.40,0,0,1.0,137,2,122,6,5340.0,374,12.45,0.00,2,0.0,0,1
89286,2069822,2019-07-01,560.0,300.00,1,1,1.0,181,20,134,220,5297.0,318,442.75,8181.31,1822,350.0,1,1
89289,2069892,2019-07-01,121.0,100.20,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1

In [7]:
prep['SUBS_ID'].value_counts()

745584     1
1954849    1
1892017    1
1296050    1
1046196    1
          ..
1730452    1
1240040    1
517097     1
1295341    1
1445890    1
Name: SUBS_ID, Length: 29531, dtype: int64

In [8]:
b = []
for i in range(df['SUBS_ID'].values.shape[0]):
    if df['SUBS_ID'][i] in prep['SUBS_ID'].values:
        b.append(i)
b = np.array(b)
b.shape

(88593,)

In [45]:
three_df = df.iloc[b]
three_df = three_df.reset_index(drop=True)
three_df

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.10,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.90,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.90,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.60,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.30,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1
5,1261,2019-09-01,524.0,350.60,0,1,0.0,340,25,63,198,5274.0,76,299.50,2160.64,1752,470.0,3,1
6,1325,2019-07-01,130.0,142.19,0,1,0.0,250,0,137,156,5213.0,276,306.08,522.41,2098,120.0,2,1
7,1325,2019-08-01,130.0,112.39,0,1,0.0,275,3,169,111,5244.0,413,286.37,461.05,8192,130.0,2,1
8,1325,2019-09-01,130.0,149.59,0,1,0.0,318,1,156,149,5274.0,325,320.98,332.79,2468,4110.0,2,1
9,1334,2019-07-01,560.0,300.00,1,1,1.0,20,1,18,22,5213.0,28,56.97,5418.07,1796,300.0,1,1
10,1334,2019-08-01,560.0,300.00,1,1,1.0,15,0,10,15,5244.0,8,51.77,6782.87,1487,350.0,2,1
11,1334,2019-09-01,560.0,300.00,1,1,1.0,15,0,8,24,5274.0,6,65.35,7846.94,1539,300.0,1,1
12,1364,2019-07-01,300.0,129.60,0,0,0.0,70,4,175,52,5213.0,536,147.45,0.00,0,0.0,0,1
13,1364,2019-08-01,300.0,225.05,0,0,0.0,49,0,184,66,5244.0,522,89.78,0.00,0,100.0,1,1
14,1364,2019-09-01,300.0,185.36,0,0,0.0,62,1,220,78,5274.0,661,161.33,0.00,2,300.0,3,1
15,1414,2019-07-01,300.0,0.00,1,1,0.0,5,0,10,0,5213.0,32,0.00,0.00,0,0.0,0,1
16,1414,2019-08-01,300.0,0.00,1,1,0.0,13,0,18,0,5244.0,17,0.00,0.00,0,0.0,0,1
17,1414,2019-09-01,300.0,66.60,1,1,0.0,15,0,62,34,5274.0,50,48.15,0.00,0,100.0,2,1
18,1422,2019-07-01,300.0,12.00,0,0,0.0,10,0,31,4,5213.0,177,25.57,0.00,0,0.0,0,1
19,1422,2019-08-01,300.0,23.40,0,0,0.0,17,0,26,6,5244.0,208,63.48,0.00,0,0.0,0,1
20,1422,2019-09-01,300.0,19.80,0,0,0.0,5,0,24,7,5274.0,211,29.17,0.00,0,100.0,1,1
21,1439,2019-07-01,135.0,314.00,0,1,0.0,94,10,92,112,5213.0,567,567.28,109.41,167,300.0,1,1
22,1439,2019-08-01,135.0,357.50,0,1,0.0,65,4,61,99,5244.0,480,738.30,103.32,160,350.0,1,1
23,1439,2019-09-01,135.0,350.00,0,1,0.0,61,11,101,141,5274.0,599,763.17,191.94,281,350.0,1,1
24,1504,2019-07-01,300.0,158.85,1,1,0.0,79,2,230,78,5213.0,252,80.48,0.00,0,0.0,0,1
25,1504,2019-08-01,300.0,103.90,1,1,0.0,61,1,148,45,5244.0,150,61.87,0.00,0,0.0,0,1
26,1504,2019-09-01,300.0,152.00,1,1,0.0,64,7,137,65,5274.0,193,80.63,0.00,0,300.0,1,1
27,1631,2019-07-01,300.0,79.95,0,0,0.0,41,0,45,41,5213.0,84,53.57,0.00,0,0.0,0,1
28,1631,2019-08-01,300.0,214.65,0,0,0.0,38,0,54,75,5244.0,124,129.58,0.00,0,300.0,3,1
29,1631,2019-09-01,588.0,382.71,0,0,1.0,55,1,63,88,5274.0,72,148.18,277.38,393,251.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88563,2069114,2019-07-01,300.0,208.20,0,0,0.0,65,1,75,134,5297.0,84,137.05,0.00,0,200.0,2,1
88564,2069114,2019-08-01,300.0,293.40,0,0,0.0,65,1,89,169,5328.0,194,225.33,0.00,0,300.0,3,1
88565,2069114,2019-09-01,300.0,303.80,0,0,0.0,75,1,108,168,5358.0,173,215.72,0.00,0,300.0,3,1
88566,2069169,2019-07-01,300.0,181.50,0,0,0.0,25,0,174,105,5297.0,1353,568.37,0.00,0,100.0,1,1
88567,2069169,2019-08-01,300.0,194.40,0,0,0.0,19,0,82,109,5328.0,574,660.63,0.00,0,260.0,3,1
88568,2069169,2019-09-01,300.0,104.40,0,0,0.0,8,0,109,60,5358.0,383,296.30,0.00,0,100.0,1,1
88569,2069201,2019-07-01,548.0,302.00,0,0,1.0,142,2,34,32,5325.0,61,105.17,1301.06,1385,300.0,1,1
88570,2069201,2019-08-01,548.0,302.00,0,0,1.0,176,1,22,34,5356.0,85,39.57,1381.58,1229,300.0,1,1
88571,2069201,2019-09-01,548.0,302.00,0,0,1.0,164,1,26,70,5386.0,42,76.10,1165.60,904,300.0,1,1
88572,2069215,2019-07-01,134.0,310.00,1,1,1.0,120,0,47,121,5376.0,241,760.17,434.27,1235,300.0,2,1
88573,2069215,2019-08-01,134.0,310.00,1,1,1.0,203,2,37,107,5407.0,148,564.78,295.86,936,350.0,2,1
88574,2069215,2019-09-01,134.0,300.00,1,1,1.0,92,5,45,113,5437.0,101,610.68,462.41,953,150.0,1,1
88575,2069414,2019-07-01,548.0,306.00,0,0,0.0,151,8,181,221,5297.0,440,508.80,0.00,0,300.0,1,1
88576,2069414,2019-08-01,548.0,456.20,0,0,0.0,128,2,228,295,5328.0,530,737.85,0.00,0,500.0,2,1
88577,2069414,2019-09-01,548.0,300.00,0,0,0.0,69,0,119,157,5358.0,310,455.92,0.00,0,300.0,1,1
88578,2069541,2019-07-01,300.0,153.60,1,1,1.0,56,8,2,1,5340.0,1,0.73,0.09,130,0.0,0,1
88579,2069541,2019-08-01,300.0,113.74,1,1,1.0,53,2,2,1,5371.0,2,0.37,1.76,91,0.0,0,1
88580,2069541,2019-09-01,300.0,30.50,1,1,0.0,45,4,2,1,5401.0,2,0.20,0.00,0,0.0,0,1
88581,2069592,2019-07-01,121.0,26.50,1,1,0.0,129,6,59,1,5376.0,105,4.30,0.00,0,50.0,1,1
88582,2069592,2019-08-01,121.0,63.10,1,1,1.0,123,4,37,3,5407.0,81,1.57,63.21,52,100.0,1,1
88583,2069592,2019-09-01,121.0,40.80,1,1,0.0,222,14,26,0,5437.0,80,0.00,0.00,0,0.0,0,1
88584,2069686,2019-07-01,135.0,32.40,0,0,1.0,137,2,122,6,5340.0,374,12.45,0.00,2,0.0,0,1
88585,2069686,2019-08-01,135.0,350.00,0,0,1.0,157,6,134,26,5371.0,490,38.85,1288.61,507,470.0,1,1
88586,2069686,2019-09-01,135.0,470.20,0,0,1.0,196,3,83,66,5401.0,229,99.37,761.29,875,350.0,1,1
88587,2069822,2019-07-01,560.0,300.00,1,1,1.0,181,20,134,220,5297.0,318,442.75,8181.31,1822,350.0,1,1
88588,2069822,2019-08-01,560.0,306.00,1,1,1.0,258,0,66,120,5328.0,222,206.27,1908.23,633,300.0,1,1
88589,2069822,2019-09-01,560.0,300.00,1,1,1.0,112,5,72,137,5358.0,182,254.90,1293.55,1145,300.0,1,1
88590,2069892,2019-07-01,121.0,100.20,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1
88591,2069892,2019-08-01,121.0,135.00,1,1,0.0,128,3,30,12,5328.0,175,13.92,0.00,0,200.0,2,1
88592,2069892,2019-09-01,121.0,181.60,1,1,0.0,89,5,41,17,5358.0,216,40.10,0.00,0,150.0,1,1

In [41]:
track = []
for row_id in range(0, three_df.shape[0], 3):
    isis = three_df['TARIFF_ID'][row_id] == three_df['TARIFF_ID'][row_id + 1] == three_df['TARIFF_ID'][row_id + 2]
    for j in range(3):
        track.append(isis)
track = pd.Series(track)

In [42]:
three_df['Y'] = track

In [44]:
three_df['Y'].value_counts()

True     85500
False     3093
Name: Y, dtype: int64

In [51]:
_ = pd.read_excel('Data_Motiv_2.xlsx')
_

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1197,2019-07-01,NaN,300.00,1,1,1.0,118,0,149,76,5213.0,117,65.17,5867.08,1481,279.0,2,2
1,1197,2019-08-01,NaN,250.00,1,1,1.0,80,1,122,77,5244.0,117,76.65,4562.94,1416,269.0,1,2
2,1197,2019-09-01,NaN,252.00,1,1,1.0,102,1,90,104,5274.0,88,195.78,2863.32,1300,269.0,1,2
3,1205,2019-07-01,NaN,121.90,0,1,0.0,168,8,295,116,5213.0,524,119.70,0.00,0,100.0,1,2
4,1205,2019-08-01,NaN,175.60,1,1,0.0,176,3,423,180,5244.0,682,201.40,0.00,0,200.0,2,2
5,1205,2019-09-01,NaN,270.50,1,1,1.0,202,29,422,159,5274.0,1011,384.70,2931.63,5131,285.0,3,2
6,1253,2019-07-01,NaN,36.60,0,1,0.0,54,1,37,19,5213.0,127,91.97,0.00,0,0.0,0,2
7,1253,2019-08-01,NaN,61.20,0,1,0.0,42,0,30,21,5244.0,46,40.63,0.00,0,50.0,1,2
8,1253,2019-09-01,NaN,32.40,0,1,0.0,48,1,24,16,5274.0,81,53.40,0.00,0,50.0,1,2
9,1280,2019-07-01,NaN,179.80,1,1,1.0,240,14,149,158,5213.0,237,290.35,974.23,2491,185.0,2,2
10,1280,2019-08-01,NaN,182.20,1,1,1.0,142,8,87,114,5244.0,193,214.00,1575.66,2598,190.0,2,2
11,1280,2019-09-01,NaN,148.00,1,1,1.0,104,9,91,108,5274.0,102,166.12,1045.09,1887,140.0,1,2
12,1314,2019-07-01,NaN,194.80,0,0,0.0,120,9,179,98,5213.0,527,130.50,0.00,0,100.0,1,2
13,1314,2019-08-01,NaN,1.80,0,0,0.0,0,0,4,1,5244.0,2,15.05,0.00,0,0.0,0,2
14,1314,2019-09-01,NaN,53.05,0,0,0.0,21,3,13,25,5274.0,29,69.85,0.00,0,100.0,1,2
15,1396,2019-07-01,NaN,148.64,0,0,0.0,202,1,174,137,5213.0,585,340.60,0.00,4,150.0,1,2
16,1396,2019-08-01,NaN,214.96,0,0,0.0,180,1,170,151,5244.0,466,350.60,0.00,3,200.0,1,2
17,1396,2019-09-01,NaN,267.68,0,0,0.0,236,1,92,115,5274.0,260,311.00,0.00,1,300.0,3,2
18,1430,2019-07-01,NaN,300.00,1,1,1.0,184,132,61,93,5213.0,46,78.53,810.45,831,310.0,1,2
19,1430,2019-08-01,NaN,300.00,1,1,1.0,255,217,47,80,5244.0,45,101.28,661.52,784,310.0,1,2
20,1430,2019-09-01,NaN,405.00,1,1,1.0,202,165,41,76,5274.0,61,99.68,629.28,736,310.0,1,2
21,1480,2019-07-01,NaN,300.00,1,1,1.0,154,51,299,197,5213.0,642,427.73,2176.18,2370,600.0,2,2
22,1480,2019-08-01,NaN,350.00,1,1,1.0,190,51,189,116,5244.0,404,170.23,678.47,1418,300.0,1,2
23,1480,2019-09-01,NaN,301.80,0,0,1.0,149,69,241,150,5274.0,600,305.13,2255.95,1979,350.0,2,2
24,1523,2019-07-01,NaN,136.00,0,1,0.0,11,0,65,90,5213.0,144,92.15,0.00,0,126.0,2,2
25,1523,2019-08-01,NaN,162.60,0,1,0.0,14,0,56,90,5244.0,97,77.37,0.00,0,100.0,2,2
26,1523,2019-09-01,NaN,162.50,0,1,0.0,15,0,65,78,5274.0,125,48.62,0.00,0,200.0,2,2
27,1578,2019-07-01,NaN,357.80,1,1,1.0,210,7,499,562,5213.0,988,2508.00,3130.13,2646,362.0,5,2
28,1578,2019-08-01,NaN,224.40,1,1,1.0,174,6,469,457,5244.0,761,1963.35,3889.66,2898,100.0,1,2
29,1578,2019-09-01,NaN,287.40,1,1,1.0,115,4,332,443,5274.0,888,1891.83,3517.04,3177,470.0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90677,2069566,2019-07-01,NaN,250.00,1,1,1.0,105,13,150,116,5325.0,397,287.43,13418.12,1749,529.0,5,2
90678,2069566,2019-08-01,NaN,250.00,1,1,1.0,68,3,99,111,5356.0,213,223.45,19531.34,1633,0.0,0,2
90679,2069566,2019-09-01,NaN,250.00,1,1,1.0,49,3,121,98,5386.0,236,570.38,14462.21,1679,220.0,1,2
90680,2069587,2019-07-01,NaN,300.00,1,1,1.0,43,13,74,109,5297.0,246,508.35,2163.82,520,300.0,2,2
90681,2069587,2019-08-01,NaN,374.40,1,1,1.0,113,20,203,159,5328.0,1095,911.42,1829.29,690,300.0,1,2
90682,2069587,2019-09-01,NaN,300.00,1,1,1.0,105,50,102,104,5358.0,293,330.12,5851.08,1090,500.0,1,2
90683,2069624,2019-07-01,NaN,455.11,1,1,1.0,332,0,75,54,5376.0,214,101.72,4903.54,2808,750.0,3,2
90684,2069624,2019-08-01,NaN,326.00,1,1,1.0,279,0,90,54,5407.0,140,135.18,5345.27,2361,300.0,1,2
90685,2069624,2019-09-01,NaN,300.00,1,1,1.0,245,0,78,38,5437.0,146,112.33,5560.55,2822,300.0,1,2
90686,2069654,2019-07-01,NaN,250.00,1,1,1.0,54,0,30,27,5340.0,275,223.38,2890.31,1163,0.0,0,2
90687,2069654,2019-08-01,NaN,250.00,1,1,1.0,42,0,44,46,5371.0,226,411.98,3436.95,1776,500.0,2,2
90688,2069654,2019-09-01,NaN,250.00,1,1,1.0,61,0,77,69,5401.0,375,445.33,1752.49,1515,200.0,1,2
90689,2069701,2019-07-01,NaN,53.00,0,0,0.0,27,1,20,12,5376.0,18,9.38,0.00,0,100.0,1,2
90690,2069701,2019-08-01,NaN,1.00,0,0,0.0,14,0,13,1,5407.0,15,0.90,0.00,0,0.0,0,2
90691,2069701,2019-09-01,NaN,152.55,0,0,1.0,17,0,12,14,5437.0,14,13.85,0.03,89,100.0,1,2
90692,2069766,2019-07-01,NaN,123.19,1,1,1.0,58,4,101,102,5297.0,173,140.73,424.55,113,100.0,1,2
90693,2069766,2019-08-01,NaN,104.99,1,1,1.0,53,0,92,111,5328.0,208,354.88,4563.99,1694,100.0,1,2
90694,2069766,2019-09-01,NaN,127.39,1,1,1.0,41,13,73,112,5358.0,252,537.37,2370.36,856,100.0,1,2
90695,2069844,2019-07-01,NaN,62.40,0,0,0.0,38,0,120,34,5376.0,369,65.37,0.00,0,50.0,1,2
90696,2069844,2019-08-01,NaN,27.00,0,0,0.0,24,0,56,15,5407.0,109,11.52,0.00,0,30.0,1,2
90697,2069844,2019-09-01,NaN,46.80,0,0,0.0,22,0,70,27,5437.0,133,16.90,0.00,0,20.0,1,2
90698,2069879,2019-07-01,NaN,99.00,0,0,0.0,81,0,50,88,5297.0,217,173.73,0.00,0,0.0,0,2
90699,2069879,2019-08-01,NaN,152.00,0,0,0.0,46,0,46,62,5328.0,81,110.32,0.00,0,200.0,1,2
90700,2069879,2019-09-01,NaN,153.00,0,0,0.0,79,0,44,79,5358.0,129,147.40,0.00,0,0.0,0,2
90701,2069907,2019-07-01,NaN,90.60,0,1,0.0,99,4,108,56,5325.0,257,266.52,0.59,3,211.9,3,2
90702,2069907,2019-08-01,NaN,63.00,0,1,0.0,115,9,72,34,5356.0,319,184.58,1.33,5,0.0,0,2
90703,2069907,2019-09-01,NaN,43.20,0,1,0.0,52,8,59,24,5386.0,128,162.63,0.00,0,0.0,0,2
90704,2069917,2019-07-01,NaN,161.08,0,1,0.0,96,0,229,368,5297.0,314,367.20,0.04,216,200.0,2,2
90705,2069917,2019-08-01,NaN,212.88,0,1,0.0,64,0,185,297,5328.0,238,268.52,0.04,183,200.0,2,2
90706,2069917,2019-09-01,NaN,178.40,0,1,0.0,45,0,125,153,5358.0,145,166.50,0.03,150,200.0,2,2