In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [89]:
df = pd.read_excel('Dannye_po_Data_Motiv.xlsx')
df.head()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.1,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.9,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.9,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.6,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.3,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1

In [35]:
df.describe()

,SUBS_ID,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
count,8.929300e+04,89287.000000,89293.000000,89293.000000,89293.000000,88682.000000,89293.000000,89293.000000,89293.000000,89293.000000,88676.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.000000,89293.0
mean,1.156639e+06,315.999048,261.287274,0.601313,0.724939,0.457387,116.794934,12.423706,102.224822,101.101990,5397.981088,266.916533,270.868048,2226.388319,1041.367789,263.481866,1.312443,1.0
std,5.199966e+05,170.092115,785.094780,0.489631,0.446547,0.498184,117.619508,55.758458,117.047228,130.845306,46.153833,304.618611,378.710151,5826.364442,2204.524754,396.013275,1.442138,0.0
min,1.245000e+03,59.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.350280e+05,135.000000,66.600000,0.000000,0.000000,0.000000,42.000000,0.000000,30.000000,15.000000,5386.000000,62.000000,28.280000,0.000000,0.000000,0.000000,0.000000,1.0
50%,1.148620e+06,300.000000,250.000000,1.000000,1.000000,0.000000,93.000000,2.000000,74.000000,63.000000,5403.000000,176.000000,142.330000,0.050000,27.000000,200.000000,1.000000,1.0
75%,1.602853e+06,524.000000,350.000000,1.000000,1.000000,1.000000,159.000000,10.000000,141.000000,141.000000,5431.000000,368.000000,365.320000,2152.980000,1719.000000,350.000000,2.000000,1.0
max,2.069926e+06,610.000000,156138.850000,1.000000,1.000000,1.000000,5044.000000,5282.000000,7377.000000,6647.000000,5447.000000,10242.000000,8280.820000,449891.470000,167507.000000,30895.000000,39.000000,1.0

In [90]:
df.shape

(89293, 19)

In [37]:
df['SUBS_ID'].value_counts().value_counts()

3    29531
1      238
2      231
Name: SUBS_ID, dtype: int64

In [38]:
prep_df = df[['SUBS_ID', 'TARIFF_ID']]

In [39]:
prep_df.head()

   SUBS_ID  TARIFF_ID
0     1245      588.0
1     1245      588.0
2     1245      588.0
3     1261      524.0
4     1261      524.0

In [40]:
people_posts = prep_df['SUBS_ID'].value_counts()

In [41]:
people_posts.head()

1823842    3
426949     3
1584016    3
668563     3
816807     3
Name: SUBS_ID, dtype: int64

In [42]:
people_posts.values == 3

array([ True,  True,  True, ..., False, False, False])

In [43]:
indexs = np.where(people_posts.values == 3)[0]
indexs

array([    0,     1,     2, ..., 29528, 29529, 29530])

In [93]:
a = []
for i in range(0, df.shape[0]-2):
    if prep_df['SUBS_ID'][i] == prep_df['SUBS_ID'][i + 1] == prep_df['SUBS_ID'][i + 2]:
        a.append(i)
a = np.array(a)
a.shape

(29531,)

In [94]:
prep = prep_df.loc[a]
prep.head()

    SUBS_ID  TARIFF_ID
0      1245      588.0
3      1261      524.0
6      1325      130.0
9      1334      560.0
12     1364      300.0

In [95]:
prep['SUBS_ID'].value_counts()

745584     1
1954849    1
1892017    1
1296050    1
1046196    1
1107638    1
1300081    1
528748     1
374460     1
701624     1
1070784    1
695213     1
603852     1
601807     1
216303     1
1123134    1
670931     1
1422573    1
1443948    1
1347291    1
437983     1
1857248    1
1396451    1
1146597    1
2046035    1
1640170    1
724715     1
513712     1
1521324    1
993006     1
          ..
850986     1
1129458    1
1647601    1
1786575    1
1717203    1
445356     1
1495983    1
943033     1
291771     1
1067964    1
873407     1
1983495    1
426949     1
957382     1
627655     1
1702858    1
1051604    1
1087053    1
1993688    1
2028666    1
1331708    1
1592284    1
476125     1
678878     1
1418209    1
1730452    1
1240040    1
517097     1
1295341    1
1445890    1
Name: SUBS_ID, Length: 29531, dtype: int64

In [96]:
b = []
for i in range(df['SUBS_ID'].values.shape[0]):
    if df['SUBS_ID'][i] in prep['SUBS_ID'].values:
        b.append(i)
b = np.array(b)
b.shape

(88593,)

In [97]:
three_df = df.iloc[b]

In [98]:
three_df.shape

(88593, 19)

In [99]:
three_df = three_df.reset_index(drop = True)

In [100]:
three_df

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка
0,1245,2019-07-01,588.0,206.10,0,0,0.0,119,11,400,193,5213.0,448,237.15,16.79,838,250.0,2,1
1,1245,2019-08-01,588.0,378.90,0,0,0.0,125,13,332,215,5244.0,441,374.88,12.22,731,650.0,3,1
2,1245,2019-09-01,588.0,328.90,0,0,0.0,75,15,320,221,5274.0,444,300.65,12.43,768,0.0,0,1
3,1261,2019-07-01,524.0,318.60,0,1,0.0,210,39,109,60,5213.0,431,212.50,1626.61,1608,340.0,4,1
4,1261,2019-08-01,524.0,262.30,0,1,0.0,309,24,72,122,5244.0,225,237.78,3591.44,1601,150.0,1,1
5,1261,2019-09-01,524.0,350.60,0,1,0.0,340,25,63,198,5274.0,76,299.50,2160.64,1752,470.0,3,1
6,1325,2019-07-01,130.0,142.19,0,1,0.0,250,0,137,156,5213.0,276,306.08,522.41,2098,120.0,2,1
7,1325,2019-08-01,130.0,112.39,0,1,0.0,275,3,169,111,5244.0,413,286.37,461.05,8192,130.0,2,1
8,1325,2019-09-01,130.0,149.59,0,1,0.0,318,1,156,149,5274.0,325,320.98,332.79,2468,4110.0,2,1
9,1334,2019-07-01,560.0,300.00,1,1,1.0,20,1,18,22,5213.0,28,56.97,5418.07,1796,300.0,1,1
10,1334,2019-08-01,560.0,300.00,1,1,1.0,15,0,10,15,5244.0,8,51.77,6782.87,1487,350.0,2,1
11,1334,2019-09-01,560.0,300.00,1,1,1.0,15,0,8,24,5274.0,6,65.35,7846.94,1539,300.0,1,1
12,1364,2019-07-01,300.0,129.60,0,0,0.0,70,4,175,52,5213.0,536,147.45,0.00,0,0.0,0,1
13,1364,2019-08-01,300.0,225.05,0,0,0.0,49,0,184,66,5244.0,522,89.78,0.00,0,100.0,1,1
14,1364,2019-09-01,300.0,185.36,0,0,0.0,62,1,220,78,5274.0,661,161.33,0.00,2,300.0,3,1
15,1414,2019-07-01,300.0,0.00,1,1,0.0,5,0,10,0,5213.0,32,0.00,0.00,0,0.0,0,1
16,1414,2019-08-01,300.0,0.00,1,1,0.0,13,0,18,0,5244.0,17,0.00,0.00,0,0.0,0,1
17,1414,2019-09-01,300.0,66.60,1,1,0.0,15,0,62,34,5274.0,50,48.15,0.00,0,100.0,2,1
18,1422,2019-07-01,300.0,12.00,0,0,0.0,10,0,31,4,5213.0,177,25.57,0.00,0,0.0,0,1
19,1422,2019-08-01,300.0,23.40,0,0,0.0,17,0,26,6,5244.0,208,63.48,0.00,0,0.0,0,1
20,1422,2019-09-01,300.0,19.80,0,0,0.0,5,0,24,7,5274.0,211,29.17,0.00,0,100.0,1,1
21,1439,2019-07-01,135.0,314.00,0,1,0.0,94,10,92,112,5213.0,567,567.28,109.41,167,300.0,1,1
22,1439,2019-08-01,135.0,357.50,0,1,0.0,65,4,61,99,5244.0,480,738.30,103.32,160,350.0,1,1
23,1439,2019-09-01,135.0,350.00,0,1,0.0,61,11,101,141,5274.0,599,763.17,191.94,281,350.0,1,1
24,1504,2019-07-01,300.0,158.85,1,1,0.0,79,2,230,78,5213.0,252,80.48,0.00,0,0.0,0,1
25,1504,2019-08-01,300.0,103.90,1,1,0.0,61,1,148,45,5244.0,150,61.87,0.00,0,0.0,0,1
26,1504,2019-09-01,300.0,152.00,1,1,0.0,64,7,137,65,5274.0,193,80.63,0.00,0,300.0,1,1
27,1631,2019-07-01,300.0,79.95,0,0,0.0,41,0,45,41,5213.0,84,53.57,0.00,0,0.0,0,1
28,1631,2019-08-01,300.0,214.65,0,0,0.0,38,0,54,75,5244.0,124,129.58,0.00,0,300.0,3,1
29,1631,2019-09-01,588.0,382.71,0,0,1.0,55,1,63,88,5274.0,72,148.18,277.38,393,251.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88563,2069114,2019-07-01,300.0,208.20,0,0,0.0,65,1,75,134,5297.0,84,137.05,0.00,0,200.0,2,1
88564,2069114,2019-08-01,300.0,293.40,0,0,0.0,65,1,89,169,5328.0,194,225.33,0.00,0,300.0,3,1
88565,2069114,2019-09-01,300.0,303.80,0,0,0.0,75,1,108,168,5358.0,173,215.72,0.00,0,300.0,3,1
88566,2069169,2019-07-01,300.0,181.50,0,0,0.0,25,0,174,105,5297.0,1353,568.37,0.00,0,100.0,1,1
88567,2069169,2019-08-01,300.0,194.40,0,0,0.0,19,0,82,109,5328.0,574,660.63,0.00,0,260.0,3,1
88568,2069169,2019-09-01,300.0,104.40,0,0,0.0,8,0,109,60,5358.0,383,296.30,0.00,0,100.0,1,1
88569,2069201,2019-07-01,548.0,302.00,0,0,1.0,142,2,34,32,5325.0,61,105.17,1301.06,1385,300.0,1,1
88570,2069201,2019-08-01,548.0,302.00,0,0,1.0,176,1,22,34,5356.0,85,39.57,1381.58,1229,300.0,1,1
88571,2069201,2019-09-01,548.0,302.00,0,0,1.0,164,1,26,70,5386.0,42,76.10,1165.60,904,300.0,1,1
88572,2069215,2019-07-01,134.0,310.00,1,1,1.0,120,0,47,121,5376.0,241,760.17,434.27,1235,300.0,2,1
88573,2069215,2019-08-01,134.0,310.00,1,1,1.0,203,2,37,107,5407.0,148,564.78,295.86,936,350.0,2,1
88574,2069215,2019-09-01,134.0,300.00,1,1,1.0,92,5,45,113,5437.0,101,610.68,462.41,953,150.0,1,1
88575,2069414,2019-07-01,548.0,306.00,0,0,0.0,151,8,181,221,5297.0,440,508.80,0.00,0,300.0,1,1
88576,2069414,2019-08-01,548.0,456.20,0,0,0.0,128,2,228,295,5328.0,530,737.85,0.00,0,500.0,2,1
88577,2069414,2019-09-01,548.0,300.00,0,0,0.0,69,0,119,157,5358.0,310,455.92,0.00,0,300.0,1,1
88578,2069541,2019-07-01,300.0,153.60,1,1,1.0,56,8,2,1,5340.0,1,0.73,0.09,130,0.0,0,1
88579,2069541,2019-08-01,300.0,113.74,1,1,1.0,53,2,2,1,5371.0,2,0.37,1.76,91,0.0,0,1
88580,2069541,2019-09-01,300.0,30.50,1,1,0.0,45,4,2,1,5401.0,2,0.20,0.00,0,0.0,0,1
88581,2069592,2019-07-01,121.0,26.50,1,1,0.0,129,6,59,1,5376.0,105,4.30,0.00,0,50.0,1,1
88582,2069592,2019-08-01,121.0,63.10,1,1,1.0,123,4,37,3,5407.0,81,1.57,63.21,52,100.0,1,1
88583,2069592,2019-09-01,121.0,40.80,1,1,0.0,222,14,26,0,5437.0,80,0.00,0.00,0,0.0,0,1
88584,2069686,2019-07-01,135.0,32.40,0,0,1.0,137,2,122,6,5340.0,374,12.45,0.00,2,0.0,0,1
88585,2069686,2019-08-01,135.0,350.00,0,0,1.0,157,6,134,26,5371.0,490,38.85,1288.61,507,470.0,1,1
88586,2069686,2019-09-01,135.0,470.20,0,0,1.0,196,3,83,66,5401.0,229,99.37,761.29,875,350.0,1,1
88587,2069822,2019-07-01,560.0,300.00,1,1,1.0,181,20,134,220,5297.0,318,442.75,8181.31,1822,350.0,1,1
88588,2069822,2019-08-01,560.0,306.00,1,1,1.0,258,0,66,120,5328.0,222,206.27,1908.23,633,300.0,1,1
88589,2069822,2019-09-01,560.0,300.00,1,1,1.0,112,5,72,137,5358.0,182,254.90,1293.55,1145,300.0,1,1
88590,2069892,2019-07-01,121.0,100.20,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1
88591,2069892,2019-08-01,121.0,135.00,1,1,0.0,128,3,30,12,5328.0,175,13.92,0.00,0,200.0,2,1
88592,2069892,2019-09-01,121.0,181.60,1,1,0.0,89,5,41,17,5358.0,216,40.10,0.00,0,150.0,1,1

In [108]:
subs_ids = np.unique(three_df['SUBS_ID'])
changes_count = []
for idx in subs_ids:
    for i in range(3):
        changes_count.append(np.unique(three_df[three_df['SUBS_ID'] == idx]['TARIFF_ID']).shape[0] - 1)
changes_count = pd.Series(changes_count)

In [109]:
changes_count.value_counts()

0    85500
1     2991
2      102
dtype: int64

In [110]:
three_df['tariff_changes_count'] = changes_count

In [111]:
three_df.tail()

,SUBS_ID,DATE_CALC,TARIFF_ID,CHARGE,SUPPORT_4G,SUPPORT_3G,LTE_TRAFF_FLAG,SMS_IN_CNT,SMS_OUT_CNT,CALLS_IN_CNT,CALLS_OUT_CNT,LIFE_TIME,DURATION_IN_MIN,DURATION_OUT_MIN,DATA_TRAFFIC_MB,SESSIONS_CNT,RECHARGE,RECHARGE_CNT,Выборка,tariff_changes_count
88588,2069822,2019-08-01,560.0,306.0,1,1,1.0,258,0,66,120,5328.0,222,206.27,1908.23,633,300.0,1,1,0
88589,2069822,2019-09-01,560.0,300.0,1,1,1.0,112,5,72,137,5358.0,182,254.90,1293.55,1145,300.0,1,1,0
88590,2069892,2019-07-01,121.0,100.2,1,1,0.0,117,1,21,9,5297.0,89,39.23,0.00,0,100.0,1,1,0
88591,2069892,2019-08-01,121.0,135.0,1,1,0.0,128,3,30,12,5328.0,175,13.92,0.00,0,200.0,2,1,0
88592,2069892,2019-09-01,121.0,181.6,1,1,0.0,89,5,41,17,5358.0,216,40.10,0.00,0,150.0,1,1,0

In [114]:
three_df['tariff_changes_count'].value_counts()

0    85500
1     2991
2      102
Name: tariff_changes_count, dtype: int64

In [115]:
three_df.to_csv('three_df.csv')